body{
    background-color: #E6F9E1;
    color: #101902;
    font-family: "Gabarito", sans-serif;
}
.portfolio{
    font-weight: bold;
    text-align: center;
    margin-right: 20px;
}
.gif{
    height: 170px;
    width: 170px;
}
#gif{
    display: flex;
    justify-content: center;
    height: 20vh;
}
.container1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 50px;
    height: 30vh;
}
p.left{
    margin-right: 20px;
    transform: rotate(270deg);
}
h1.left{
    margin-right: 100px;
    cursor: pointer;
}
h1.left:hover{
    background-color: black;
    color: white;
    box-shadow: 3px 4px 2px #19C862;
    transform: scale(1.1);
    padding: 10px;
}
.hr-container hr{
    border: 0.5px solid black;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
span{
    color: #19C862;
}
.logos{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 10px 4px 0 0;
}
.github:hover{
    transform: scale(1.1);
  }
.twitter:hover{
    transform: scale(1.1);
  }
.linkedin:hover{
    transform: scale(1.1);
  }
.email:hover{
    transform: scale(1.1);
  }

@media screen and (orientation: portrait) {
    *{
        font-size: 16px;
    }
    .container1{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        text-align: left;
        margin: 0 0 0 0;
        position: relative;
    }
    .hr-container hr{
        margin-top: 160px;
    }
}
  